.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dark-mode {
  background-color: #1b1c1e;
  color: white;
}

.light-mode {
  background-color: whitesmoke;
  color: black;
}

input[type="text"], textarea {
  background-color : whitesmoke; 
  /* Dark Mode #d1d1d1 */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.toggle-div {
  width: 98.5%;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-self: flex-start;
  justify-content: flex-end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
